<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <app-loading *ngIf="isLoading"></app-loading>
   

      <app-loading *ngIf="isLoading"></app-loading>
      <a href="#" class="link-block-5 w-inline-block"><div id="svgcontainer"><div id="svganchor"></div></div></a>

      <p class="viz-annotation">
        Visualization of the host location cities and the number of events that took place there.  Navigate to event metadata by the city name directly from the visualization by clicking on the markers on the map.
      </p>

  </mat-card-content>
</mat-card>

