#bundling{
    background-color: #333333;
    align-content:center;
  }
  
  .node {
    font: 300 11px "Avenir Next", Arial, sans-serif;
    padding:1px !important;
    
    /* fill: #FFFFFF; */
  }
  
  
  .node:hover {
    /* fill: rgb(14, 217, 224); */
    fill:#FFC885;
    font-weight: 700px;
    
  }
  
  .link {
    stroke: #FEECEC;
    stroke-opacity: 0.15;
    fill: none;
    pointer-events: none;
  }
  
  .node:hover,
  .node--source,
  .node--target {
    font-weight: 700;
    opacity: 1;
   }
  
  /*.node--source {
  
    fill: #2ca02c;
  }*/
  
  .node--target {
    fill: #e07d21;
    opacity: 1;
  }
  
  
  .link--source,
  .link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
  }
  
  .link--source {
    stroke: #fcd788;
  }

  .link--target {
    stroke: #e07d21;
  }
  
  .node--target {
    fill: #A91304;
    /* stroke: #f4f4f4; */
  }
  
  /*.color{
    fill: darkgoldenrod !important;
    font-size: large;
  }*/

  .container{
    width:100% !important
  } 

  /* classes used for the nodes */

  .creator{
  fill:#FB6504;
  opacity: 0.7;
  }
  
  .events{
  fill:#FFC885;
  opacity: 0.7;
  }

  .creator:hover{
    opacity:1;
    fill: #e07d21
  }

  .events:hover{
    opacity:1;
    fill: #fcd788
  }
  