<div class="dashboard_section wf-section">
  <div class="pagecontainer">
    <div class="dashboard-container">
      <div style="display:none;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="filtermenu flextleft">
        <div class="filtermenu-closeicon"><img src="/assets/images/Cancel-Icon-Orange.svg" loading="lazy" width="16" height="16" data-w-id="db626699-1d45-4075-b6f9-c8af013384a1" alt="Close tab menu" class="image-15"></div>
        <div class="row-4 w-row">
          <div class="column-25 w-col w-col-2"><img src="images/ADP_logo2_gradient.svg" loading="lazy" width="35" alt="Archive of the Digital Present Logo" class="image-5"></div>
          <div class="w-col w-col-10">
            <div class="nametext leftnametext">Welcome to the Archive of the Digital Present</div>
            <div class="nametext leftnametext detailtext">Refine your search by:</div>
          </div>
        </div>
        <div class="collapsible-left-menu-container">
          <div data-hover="false" data-delay="0" data-w-id="94c10caf-8cfe-4474-d855-50ba61f6db22" style="height:80px" class="dropdownleftmenu leftmenulink accordion-item w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="icon-2 accordion-icon w-icon-dropdown-toggle"></div>
              <div class="text-block-2">Organization</div>
            </div>
            <nav style="display:none" class="dropdown-list w-dropdown-list">
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">University of Ottawa (2)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Carleton University (1)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Tree Reading Series (1)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="44832633-9ab7-cdec-0fd1-be632ff51c90" style="height:80px" class="dropdownleftmenu leftmenulink accordion-item w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="icon-2 accordion-icon w-icon-dropdown-toggle"></div>
              <div class="text-block-2">People</div>
            </div>
            <nav style="display:none" class="dropdown-list w-dropdown-list">
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Jason Christie</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Laura Zacharin</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Person 3</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="a7de1a70-2f97-6d18-c694-b83e024a9d26" style="height:80px" class="dropdownleftmenu leftmenulink accordion-item w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="icon-2 accordion-icon w-icon-dropdown-toggle"></div>
              <div class="text-block-2">Type of event</div>
            </div>
            <nav style="display:none" class="dropdown-list w-dropdown-list">
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Workshop</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Book Launch</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Reading</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="bf60ae2f-c0f8-6cea-ad41-bc83dba7ba56" style="height:80px" class="dropdownleftmenu leftmenulink accordion-item w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="icon-2 accordion-icon w-icon-dropdown-toggle"></div>
              <div class="text-block-2">Places</div>
            </div>
            <nav style="display:none" class="dropdown-list w-dropdown-list">
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Link 1</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Link 1</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Link 1</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="68a84b3c-7b39-91b1-7251-8e2bd6d1118a" style="height:80px" class="dropdownleftmenu leftmenulink accordion-item w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="icon-2 accordion-icon w-icon-dropdown-toggle"></div>
              <div class="text-block-2">Recordings</div>
            </div>
            <nav style="display:none" class="dropdown-list w-dropdown-list">
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">Yes (5)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">No (1)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="28e6cf20-d2bd-5df3-88d7-03706eb38a68" style="height:80px" class="dropdownleftmenu leftmenulink accordion-item w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="icon-2 accordion-icon w-icon-dropdown-toggle"></div>
              <div class="text-block-2">Dates</div>
            </div>
            <nav style="display:none" class="dropdown-list w-dropdown-list">
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">March, 2021 (2)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">November, 2020 (3)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="form-block-dropdown w-form">
                <a href="#" class="dropdown-link w-dropdown-link">July, 2020 (1)</a>
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="w-checkbox-input checkbox"><span class="checkbox-label-2 w-form-label" for="checkbox-5">select</span></label></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="dashboard-card-section">
        <h1 class="dashboardh1">Searched for:</h1>
        <div class="searchtermcard_container">
          <div class="search-term-card">
            <div class="text-searched-term">2020</div>
            <div class="search-term-close">
              <div class="search-card-x-icon">x</div>
            </div>
          </div>
        </div>
        <h1 class="dashboardh1">Results:</h1>
        <div class="topdashbar_container">
          <div class="topdashbar">
            <div class="dashboard-results-stats">
              <div data-w-id="c4cb3876-722f-eca0-c048-84c7d79ee775" class="filter-results">
                <div class="filter-icon-div"><img src="/assets/images/filter-solid.svg" loading="lazy" width="40" height="40" alt="Filter Icon" class="image-16"></div>
                <div class="dashboard-stats-div">
                  <div class="dashboard-results-text">Filter results</div>
                  <div class="dashboard-results-number"></div>
                </div>
              </div>
            </div>
            <div data-w-id="002f4a77-50d2-a8ee-1f66-2b6654f1d147" class="dashboard-results-stats">
              <div class="dashboard-results-icon"><img src="/assets/images/user-1.png" loading="lazy" alt="People filter icon" class="image-14"></div>
              <div class="dashboard-stats-div">
                <div class="dashboard-results-text">People</div>
                <div class="dashboard-results-number">12</div>
              </div>
            </div>
            <div data-w-id="2faa59f8-94e4-b480-5882-94e46a70916e" class="dashboard-results-stats">
              <div class="dashboard-results-icon"><img src="/assets/images/event.png" loading="lazy" alt="Events icon" class="image-14"></div>
              <div class="dashboard-stats-div">
                <div class="dashboard-results-text">Events</div>
                <div class="dashboard-results-number">6</div>
              </div>
            </div>
            <div data-w-id="002f4a77-50d2-a8ee-1f66-2b6654f1d152" class="dashboard-results-stats laststat bottomlaststat">
              <div class="dashboard-results-icon cancelledmeetings"></div>
              <div class="dashboard-stats-div">
                <div class="dashboard-results-text">Organizations</div>
                <div class="dashboard-results-number">3</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
<div class="container">
  <ais-instantsearch [config]="config">
    <div class="search-panel">
      <div class="search-panel__filters">
        <ais-clear-refinements></ais-clear-refinements>
        <ais-configure [searchParameters]="{ hitsPerPage: 9 }">
        </ais-configure>
        
        <h2>Genres</h2>
        <ais-refinement-list attribute="Item_Description.genre"></ais-refinement-list>
        

        <div class="searchbar w-input">
          <ais-search-box placeholder="Search" submitTitle="Go"></ais-search-box>
        </div>
      </div>
      <div class="search-panel__results">
        <ais-hits>
          <ng-template let-hits="hits">
            <div *ngIf="hits.length === 0">
              No results found matching <strong></strong>.
            </div>
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <div>
                  <div class="hit-name">
                    <ais-highlight attribute="Item_Description.title" [hit]="hit"></ais-highlight>
                  </div>
                  <img src="{{hit.Material_Description[0].image}}" alt="{{hit.collection.source_collection}}" />
                  <div class="hit-description">
                    <ais-highlight
                      attribute="Content.contents"
                      [hit]="hit"
                    ></ais-highlight>
                  </div>
                </div>
              </li>
            </ol>
          </ng-template>
        </ais-hits>

        <div class="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>
    </div>
  </ais-instantsearch>
</div>
