<app-side-nav [opened]="sidenavOpened" [facetDistribution]="facetDistribution" (change)="handleFilterChange($event)"
  (sidenavToggle)="handleSideNavToggle($event)">
  <div class="dashboard_section wf-section">
    <div class="pagecontainer">
      <div class="dashboard-container">
        <div class="dashboard-card-section">
          <div *ngIf="query">
            <h1 class="dashboardh1">Searched for:</h1>
            <div class="searchtermcard_container">
              <div class="search-term-card">
                <div class="text-searched-term">{{query}}</div>
                <!-- <div class="search-term-close">
              <div class="search-card-x-icon">x</div>
            </div> -->
              </div>
            </div>
          </div>
          <h1 class="dashboardh1">Results:</h1>
          <div class="topdashbar_container">
            <div class="topdashbar">
              <div class="dashboard-results-stats">
                <div data-w-id="c4cb3876-722f-eca0-c048-84c7d79ee775" class="filter-results"
                  (click)="onOpenFilterSideNav()">
                  <div class="filter-icon-div"><img src="/assets/images/filter-solid.svg" loading="lazy" width="40"
                      height="40" alt="Filter Icon" class="image-16"></div>
                  <div class="dashboard-stats-div">
                    <div class="dashboard-results-text">Filter results</div>
                    <div class="dashboard-results-number"></div>
                  </div>
                </div>
              </div>
              <div data-w-id="002f4a77-50d2-a8ee-1f66-2b6654f1d147" class="dashboard-results-stats"
                (click)="onOpenFilterSideNav()">
                <div class="dashboard-results-icon"><img src="/assets/images/user-1.png" loading="lazy"
                    alt="People filter icon" class="image-14"></div>
                <div class="dashboard-stats-div">
                  <div class="dashboard-results-text">People</div>
                  <div class="dashboard-results-number">{{facetAttributes?.People || 0}}</div>
                </div>
              </div>
              <div data-w-id="2faa59f8-94e4-b480-5882-94e46a70916e" class="dashboard-results-stats"
                (click)="onOpenFilterSideNav()">
                <div class="dashboard-results-icon"><img src="/assets/images/event.png" loading="lazy" alt="Events icon"
                    class="image-14"></div>
                <div class="dashboard-stats-div">
                  <div class="dashboard-results-text">Events</div>
                  <div class="dashboard-results-number">{{facetAttributes?.Events || 0}}</div>
                </div>
              </div>
              <div data-w-id="002f4a77-50d2-a8ee-1f66-2b6654f1d152"
                class="dashboard-results-stats laststat bottomlaststat" (click)="onOpenFilterSideNav()">
                <div class="dashboard-results-icon cancelledmeetings"></div>
                <div class="dashboard-stats-div">
                  <div class="dashboard-results-text">Organizations</div>
                  <div class="dashboard-results-number">{{facetAttributes?.Organizations || 0}}</div>
                </div>
              </div>
            </div>
          </div>
          <div style="display:none;opacity:0" class="selected-dashboard-bar">
            <div class="selectedbar-closeicon"><img src="/assets/images/Cancel-Icon-Orange.svg" loading="lazy"
                width="30" height="30" data-w-id="3dc42f56-92e9-86b0-0b74-ba6589b2ddf0" alt="Close tab menu"
                class="image-13"></div>
            <div class="selected-dashboard-buttons">
              <a href="#" class="select-all-button w-button">Select all</a>
              <a href="#" class="download-button w-button">Download</a>
            </div>
          </div>
          <div class="dashboard-card-container w-clearfix" *ngIf="!isLoading; else loading">
            <div *ngIf="hits != null && hits.length > 0; else noHits" class="event-card-list">
              <app-event-card class="event-card" *ngFor="let hit of hits" [entry]="hit"></app-event-card>
            </div>
            <div class="pagination" *ngIf="hits != null && hits.length > 0">
              <app-pagination [page]="page" [total]="totalPages" (change)="onPageChange($event)">
              </app-pagination>
            </div>

            <ng-template #noHits>
              <div>
                No results found matching <strong></strong>.
              </div>
            </ng-template>
          </div>
          <ng-template #loading>
            <app-loading class="loading">
              Loading
            </app-loading>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</app-side-nav>