<div class="main-section-list">
  <div class="main-section-div">
    <div class="wrapper">
      <div class="list-container">
        <div class="col">
          <div data-w-id="b8ae716f-6f33-9645-e6f8-7d753b1c1fc3" class="margin-top margin-bottom">
            <h2>Interviews with Organizers of Pandemic Literary Events</h2>
            <p class="filter-buttons-container">
              <a *ngFor="let organization of organizations" (click)="onVisitInterviewPage(organization.id)"
                 class="button-filter w-button">{{organization.label}}</a>
              <app-loading *ngIf="isLoading"></app-loading>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
