<div class="footer">
  <div class="footer-section">
    <div class="footer-container w-container">
      <div class="footer-column">
        <a routerLink="/" routerLinkActive="active" class="footer-link">Home</a>
        <a routerLink="/about" routerLinkActive="active" aria-current="page" class="footer-link w--current">About</a>
        <a routerLink="/help" routerLinkActive="active" class="footer-link">Help &amp; FAQ</a>
        <a href="https://spokenweb.ca/contact-us/" target="_blank" class="footer-link">Contact us at SpokenWeb</a>
      </div>
      <div class="footer-column"></div>
      <div class="footer-column email-culumn">
        <div class="footer-column-name">NEWSLETTER</div>
        <div class="w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="_wf-form"><input type="email" class="newsletter-email w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="Enter your email" id="name-4"><input type="submit" value="Submit" data-wait="Please wait..." class="footer-button submit w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="footer-text">Sign up to receive the latest news from the Archive.</div>
      </div>
    </div>
  </div>
</div>