
    <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav mode="side" [opened]="sidenavLayout">
            <div class="row-4 w-row" style=" padding-top: 20px;padding-right: 19px; padding-left: 0px;">
                <div class="column-25 w-col w-col-2">
                    <img src="../../assets/images/ADP_logo2_256x256PX-01.jpg" loading="lazy" width="35" alt="Archive of the Digital Present Logo" class="image-5"></div>
                <div class="w-col w-col-10">
                  <div class="nametext-title">Welcome to the Archive of the Digital Present</div>
                  <div class="detailtext">Refine your search by:</div>
                </div>
              </div>
           <mat-accordion  [multi]="true" #accordion="matAccordion">
                <mat-expansion-panel class="matexpansionpanel" >
                    <mat-expansion-panel-header class="matexpansionpanelheader">
                        <mat-panel-title class="panel-title">
                            Organization
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                     <section class="ngsection" *ngFor="let org of organizations" >
                          <mat-checkbox class="matcheckbox" labelPosition="after">
                              
                            {{org.name}} 
                          </mat-checkbox>
                    </section>
                </mat-expansion-panel>
        
                <br />
                <br/>
               
                <div>
                    <mat-expansion-panel class="matexpansionpanel">
                        <mat-expansion-panel-header class="matexpansionpanelheader">
                            <mat-panel-title class="panel-title">
                                People
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                            
                        </mat-expansion-panel-header>
                        <section class="ngsection" *ngFor="let ppl of People" >
                            <mat-checkbox class="matcheckbox" labelPosition="after">
                                
                              {{ppl.name}} 
                            </mat-checkbox>
                      </section>
                        
                    </mat-expansion-panel>
                </div>
                <br/>
                <br/>
                <mat-expansion-panel class="matexpansionpanel">
                    <mat-expansion-panel-header class="matexpansionpanelheader">
                        <mat-panel-title class="panel-title">
                            Type of event
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <section class="ngsection" *ngFor="let event of Typeofevents" >
                        <mat-checkbox class="matcheckbox" labelPosition="after">
                            
                          {{event.name}} 
                        </mat-checkbox>
                  </section>
                   
                </mat-expansion-panel>
                <br/>
                <br/>
                <mat-expansion-panel class="matexpansionpanel">
                    <mat-expansion-panel-header class="matexpansionpanelheader">
                        <mat-panel-title class="panel-title">
                            Places
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <section class="ngsection" *ngFor="let place of Places" >
                        <mat-checkbox class="matcheckbox" labelPosition="after">
                            
                          {{place.name}} 
                        </mat-checkbox>
                  </section>
                   
                </mat-expansion-panel>
                <br/>
                <br/>
                <mat-expansion-panel class="matexpansionpanel">
                    <mat-expansion-panel-header class="matexpansionpanelheader">
                        <mat-panel-title class="panel-title">
                            Recordings
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <section class="ngsection" *ngFor="let Recording of Recordings" >
                        <mat-checkbox class="matcheckbox" labelPosition="after">
                            
                          {{Recording.name}} 
                        </mat-checkbox>
                  </section>
                    
                </mat-expansion-panel>
                <br/>
                <br/>
                <mat-expansion-panel class="matexpansionpanel">
                    <mat-expansion-panel-header class="matexpansionpanelheader">
                        <mat-panel-title class="panel-title">
                            Dates
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <section class="ngsection" *ngFor="let Date of Dates" >
                        <mat-checkbox class="matcheckbox" labelPosition="after">
                            
                          {{Date.name}} 
                        </mat-checkbox>
                  </section>
                   
                </mat-expansion-panel>
                <br/>
                <br/>
            </mat-accordion>
        </mat-sidenav>
        <mat-drawer-container></mat-drawer-container>
        <mat-sidenav-content class="matcontent-nobg">
            
            <mat-icon style="color: white;" (click)="sidenav.toggle()" >menu</mat-icon>
        </mat-sidenav-content>
    
    </mat-sidenav-container>