.sidenav-container {
  position: unset;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
}

mat-sidenav {
  padding: 16px;
  /* background-color: #333333; */
  background-color: #202020F2;
  width: 350px;
}

.mat-drawer.mat-drawer-side {
  z-index: 400;
}

.matcontent-nobg {
  background-color: transparent !important;
}

matcontent-nobg {
  background-color: transparent !important;
}

.panel-title {
  color: #fcd788
}

// .matexpansionpanel {
//   background-color: #202020F2 !important;
//   width: 300px;
//   box-shadow: none !important;

// }

.mat-expansion-indicator::after {
  color: #fcd788 !important;
}

.matexpansionpanelheader {
  padding: 5px !important;
}

.nametext-title {
  margin-top: 0px;
  margin-left: 20px;
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 18px
}

.detailtext-container {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

.detailtext {
  color: #ff8a1e;
}

.detailtext-container .clear-btn {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 0;
  color: white;
}

.detailtext-container .clear-btn button {
  border: 0;
  cursor: pointer;
}

::ng-deep .matexpansionpanelheader>.mat-expansion-indicator:after {
  color: #ff8a1e !important;
}


.matcheckbox {
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 12px;
  padding: 5px;

}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}

::ng-deep .mat-checkbox-inner-container {
  background-color: #fff;
  margin-right: 10px;

}

.close-button {
  display: none;
}

@media screen and (max-width: 767px) {
  mat-sidenav {
    width: 100% !important;
  }

  .close-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sidenav-header {
    position: relative;
  }
}