<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" *ngIf="facetDistribution">
        <div class="row-4 w-row sidenav-header">
            <!-- <div class="column-25 w-col w-col-2">
                <img src="../../assets/images/ADP_logo2_256x256PX-01.jpg" loading="lazy" width="35"
                    alt="Archive of the Digital Present Logo" class="image-5">
            </div> -->
            <div class="w-col w-col-10">
                <div class="nametext-title">Welcome to the Archive of the Digital Present</div>
                <div class="detailtext-container">
                    <div class="detailtext">Refine your search by:</div>
                    <div *ngIf="clearVisibility" class="clear-btn" (click)="onClear()"><button>Clear</button></div>
                </div>
            </div>
            <div class="close-button">
                <button (click)="onClose()">X</button>
            </div>
        </div>
        <mat-accordion [multi]="true" #accordion="matAccordion">
            <mat-expansion-panel class="matexpansionpanel">
                <mat-expansion-panel-header class="matexpansionpanelheader">
                    <mat-panel-title class="panel-title">
                        Organization
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <section class="ngsection" *ngFor="let org of facetDistribution[FilterType.Organization]">
                    <mat-checkbox class="matcheckbox" labelPosition="after" [checked]="org.selected"
                        [(ngModel)]="org.selected" (ngModelChange)="handleChange(FilterType.Organization)">
                        {{printable(org)}}
                    </mat-checkbox>
                </section>
            </mat-expansion-panel>

            <br />
            <br />
            <div *ngIf="facetDistribution">
                <mat-expansion-panel class="matexpansionpanel">
                    <mat-expansion-panel-header class="matexpansionpanelheader">
                        <mat-panel-title class="panel-title">
                            People
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <div class="ngsection" *ngFor="let creator of facetDistribution[FilterType.People]">
                        <mat-checkbox class="matcheckbox" labelPosition="after" [checked]="creator.selected"
                            [(ngModel)]="creator.selected" (ngModelChange)="handleChange(FilterType.People)">
                            {{printable(creator)}}
                        </mat-checkbox>
                    </div>

                </mat-expansion-panel>
            </div>
            <br />
            <br />
            <mat-expansion-panel class="matexpansionpanel">
                <mat-expansion-panel-header class="matexpansionpanelheader">
                    <mat-panel-title class="panel-title">
                        Type of event
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <section class="ngsection" *ngFor="let event of facetDistribution[FilterType.TypeOfEvent]">
                    <mat-checkbox class="matcheckbox" labelPosition="after" [checked]="event.selected"
                        [(ngModel)]="event.selected" (ngModelChange)="handleChange(FilterType.TypeOfEvent)">
                        {{printable(event)}}
                    </mat-checkbox>
                </section>

            </mat-expansion-panel>
            <br />
            <br />
            <mat-expansion-panel class="matexpansionpanel">
                <mat-expansion-panel-header class="matexpansionpanelheader">
                    <mat-panel-title class="panel-title">
                        Places
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <section class="ngsection" *ngFor="let place of facetDistribution[FilterType.Place]">
                    <mat-checkbox class="matcheckbox" labelPosition="after" [checked]="place.selected"
                        [(ngModel)]="place.selected" (ngModelChange)="handleChange(FilterType.Place)">
                        {{printable(place)}}
                    </mat-checkbox>
                </section>

            </mat-expansion-panel>
            <br />
            <br />
            <mat-expansion-panel class="matexpansionpanel">
                <mat-expansion-panel-header class="matexpansionpanelheader">
                    <mat-panel-title class="panel-title">
                        Recordings
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <section class="ngsection" *ngFor="let recording of facetDistribution.Recordings">
                    <mat-checkbox class="matcheckbox" labelPosition="after">
                        {{recording}}
                    </mat-checkbox>
                </section>

            </mat-expansion-panel>
            <br />
            <br />
            <mat-expansion-panel class="matexpansionpanel">
                <mat-expansion-panel-header class="matexpansionpanelheader">
                    <mat-panel-title class="panel-title">
                        Dates
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <section class="ngsection" *ngFor="let date of facetDistribution[FilterType.Date]">
                    <mat-checkbox class="matcheckbox" labelPosition="after" [checked]="date.selected"
                        [(ngModel)]="date.selected" (ngModelChange)="handleChange(FilterType.Date)">
                        {{printable(date.name)}}
                    </mat-checkbox>
                </section>

            </mat-expansion-panel>
            <br />
            <br />
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>