<div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="_wf-navbar-2 on-white w-nav">
      <div class="nav-container w-container">
        <a href="index.html" class="_wf-nav-brand w-nav-brand">
          <div class="_wf-logo blue-logo">adp</div>
        </a>
        <nav role="navigation" class="_wf-nav-menu-2 w-nav-menu">
          <a href="#" class="_wf-nav-link on-white-nav-link w-nav-link">SEARCH</a>
          <div class="form-block w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form-2"><input type="text" class="text-field-2 w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name">
              <div class="div-search-icon"><img src="/assets/images/Search.svg" loading="lazy" width="30" height="30" alt="" class="image-2"></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <div data-delay="0" data-hover="false" class="dropdown-2 filter w-dropdown">
            <div class="_wf-dropdown on-white-dropdown w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>FILTER RESULTS</div>
            </div>
            <nav class="_wf-dropdown-list w-dropdown-list">
              <a href="#" class="_wf-nav-link w-dropdown-link">Link 1</a>
              <a href="#" class="_wf-nav-link w-dropdown-link">Link 1</a>
              <a href="#" class="_wf-nav-link w-dropdown-link">Link 1</a>
            </nav>
          </div>
          <div class="_wf-nav-menu-2">
            <a href="help.html" class="_wf-nav-link on-white-nav-link help-faq w-nav-link">?</a>
            <a href="#" class="_wf-social-media w-inline-block"><img src="/assets/images/Twitter.svg" height="15" alt=""></a>
            <a href="#" class="_wf-social-media w-inline-block"><img src="/assets/images/Facebook.svg" height="15" alt=""></a>
            <a href="#" class="_wf-social-media w-inline-block"><img src="/assets/images/Instagram-1.svg" height="15" alt=""></a>
          </div>
        </nav>
        <div class="_wf-menu-button w-nav-button"><img src="/assets/images/Menu.svg" height="18" alt="" class="image-3"></div>
      </div>
    </div>
    <div class="main-section-div">
      <div class="wrapper">
        <div class="list-container">
          <div class="col lg-6">
            <div style="padding-top:56.17021276595745%" class="video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FTBkASbgCHrs%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DTBkASbgCHrs&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FTBkASbgCHrs%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
            <div class="event-details-socialmedia">
              <h6 class="heading-9">Find this event on social media:</h6>
              <div class="social-media-icons-contianer">
                <a href="#" class="organizer-social-media first w-inline-block"><img src="/assets/images/Twitter_orange.svg" width="40" height="40" alt="" class="social-media-icon"></a>
                <a href="#" class="organizer-social-media w-inline-block"><img src="/assets/images/instagram_orange.svg" width="40" height="40" alt="" class="social-media-icon"></a>
                <a href="#" class="organizer-social-media w-inline-block"><img src="/assets/images/Facebook_orange.svg" width="40" height="40" alt="" class="social-media-icon"></a>
              </div>
            </div>
            <a href="http://www.treereadingseries.ca/" class="link-block-11 w-inline-block">
              <div class="organization-div"><img src="/assets/images/web_click_orange.svg" loading="lazy" width="30" alt="" class="image-11">
                <h6 class="heading-8">Tree Reading Series</h6>
              </div>
            </a>
            <div class="event-map">
              <div class="w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11204.785398342941!2d-75.717221!3d45.40538!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9550a8f67fc93feb!2sHappy%20Goat%20Coffee%20Co.%20(Laurel)!5e0!3m2!1sen!2sca!4v1626190905637!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            </div>
          </div>
          <div class="col lg-1 hidden-lg-down"></div>
          <div class="col lg-6">
            <div data-w-id="b8ae716f-6f33-9645-e6f8-7d753b1c1fc3" class="margin-top margin-bottom">
              <h6 class="heading-6">Event&#x27;s Details</h6>
              <h1 class="heading-4">Zacharin/Christie Tree Reading Series</h1>
              <h6 class="description">Description</h6>
              <p class="text-filter">Running since May 9, 1980, Tree Reading Series (Tree) is one of Canada&#x27;s longest-running literary events and an essential part of Ottawa&#x27;s vibrant literary community. Only Harbour front (Toronto) has run longer. This ADP collection describes all Tree Reading Series events organized online since March 2020. </p>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">People</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-accordion-item-block">
                    <div class="metadata-item-line">
                      <div class="metadata-columns w-row">
                        <div class="metadata-field w-col w-col-4">
                          <div class="metadata-field-text">Name:</div>
                        </div>
                        <div class="metadata-field-content w-col w-col-8">
                          <div class="metadata-field-content-text">Brockwell, Stephen ( 1963-)</div>
                        </div>
                      </div>
                    </div>
                    <div class="metadata-item-line">
                      <div class="metadata-columns w-row">
                        <div class="metadata-field w-col w-col-4">
                          <div class="metadata-field-text">Role:</div>
                        </div>
                        <div class="metadata-field-content w-col w-col-8">
                          <div class="metadata-field-content-text">Creator</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-accordion-item-block">
                    <div class="metadata-item-line">
                      <div class="metadata-columns w-row">
                        <div class="metadata-field w-col w-col-4">
                          <div class="metadata-field-text">Name:</div>
                        </div>
                        <div class="metadata-field-content w-col w-col-8">
                          <div class="metadata-field-content-text">Christie, Jason ( 1977-)<br></div>
                          <a href="http://viaf.org/viaf/106397445" class="viaf-link w-inline-block"><img src="/assets/images/VIAF_external-link-orange.svg" loading="lazy" width="40" height="20" alt=""></a>
                        </div>
                      </div>
                    </div>
                    <div class="metadata-item-line">
                      <div class="metadata-columns w-row">
                        <div class="metadata-field w-col w-col-4">
                          <div class="metadata-field-text">Role:</div>
                        </div>
                        <div class="metadata-field-content w-col w-col-8">
                          <div class="metadata-field-content-text">Contributor</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-accordion-content"></div>
                  <div class="metadata-accordion-item-block">
                    <div class="metadata-item-line">
                      <div class="metadata-columns w-row">
                        <div class="metadata-field w-col w-col-4">
                          <div class="metadata-field-text">Name:</div>
                        </div>
                        <div class="metadata-field-content w-col w-col-8">
                          <div class="metadata-field-content-text">Zacharin, Laura<br></div>
                          <a href="http://viaf.org/viaf/85156495395117561930" class="viaf-link w-inline-block"><img src="/assets/images/VIAF_external-link-orange.svg" loading="lazy" width="40" height="20" alt=""></a>
                        </div>
                      </div>
                    </div>
                    <div class="metadata-item-line">
                      <div class="metadata-columns w-row">
                        <div class="metadata-field w-col w-col-4">
                          <div class="metadata-field-text">Role:</div>
                        </div>
                        <div class="metadata-field-content w-col w-col-8">
                          <div class="metadata-field-content-text">Contributor</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">Date</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Date:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">?</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">Type of Event</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Genre:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">?</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">Location</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Location:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">Ottawa</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">Notes</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Notes:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">?</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">Related Images</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Image:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8"><img src="/assets/images/TreeReading_img.png" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 87vw, (max-width: 991px) 53vw, 24vw" srcset="images/Screen-Shot-2021-05-25-at-11.12.06-AM-p-500.png 500w, images/Screen-Shot-2021-05-25-at-11.12.06-AM-p-800.png 800w, images/TreeReading_img.png 1058w" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-menu">
                <div class="metadata-accordion-wrapper">
                  <div class="accordion-item">
                    <div class="accordion-metadata-heading">
                      <div class="icon-metadata"><img src="/assets/images/Data-icon-orange.svg" loading="lazy" alt="" class="image-9"></div>
                      <div class="text-metadata">
                        <h4 class="heading-5">Related Works</h4>
                      </div>
                    </div>
                    <div class="plus-icon-metadata"><img src="/assets/images/Plus_orange.svg" loading="lazy" alt="" class="image-8"></div>
                  </div>
                </div>
                <div class="metadata-accordion-content">
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Size:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Notes:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8"></div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Other:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Extent:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">AV type:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Tape Brand:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Generations:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Conservation:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Equalization:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Playback Mode:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Playing Speed:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Sound Quality:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Recording Type:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Storage Quality:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Storage Capacity:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Physical Condition:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Track Configuration:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Material Designation:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Physical Composition:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">-1</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Accompanying material:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                  <div class="metadata-item-line">
                    <div class="metadata-columns w-row">
                      <div class="metadata-field w-col w-col-4">
                        <div class="metadata-field-text">Other Physical Description:</div>
                      </div>
                      <div class="metadata-field-content w-col w-col-8">
                        <div class="metadata-field-content-text">not available</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>