



p a[href] {
  padding: 0;
  position: relative;
  color: black;
}

p a[href]:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #E2EFFC;
    z-index: -10;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

p a[href]:hover {
  cursor: pointer;
  text-decoration: none;
}

p a[href]:hover:after {
  background-color: #CFDAE6;
}

p.noMargin {
  margin: .1em;
}

text.axis-text {
  text-shadow: white -1px -1px 0px, white 1px -1px 0px, white -1px 1px 0px, white 1px 1px 0px;
  fill: white;
}

line {
  stroke: rgb(153, 153, 153);
  stroke-width: 1;
  stroke-dasharray: 1, 1;
  transform: rotate(-136.283deg, 239.3, -238.019);
}

.tick text {
  font: 14px Avenir;
}
text {
  font: 14px Avenir;
  font-weight: bold;
}

.tooltip > div {
  margin: 0;
  padding: 0;
  max-width: 320px;
}

.tooltip {
  font-family: "Lab Grotesque","LabGrotIns",sans-serif;
  background: rgba(255,255,255,.9);
  border-radius: .3rem;
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: .2rem .4rem;
  position: absolute;
  max-width: 320px;
  z-index: 300;
  visibility: hidden;
  border: 1px solid #333;
  white-space: pre-wrap;
}

body, select, option {
  font-family: Avenir, Arial;
  line-height: 1.5;
  color: black;
}

h1, h2, h3, h4 {
  font-family:Arial;
}

select {
  padding: 2px 5px;
  font-size: 16px;
  max-height: 100px;
}

.center {
  transform: translate(-50%, -50%);
  text-align: center;
}

.bold {
  font-weight: bold;
}

.colorls3{

  fill:#FDE4AF !important;
  /* fill:rgba(145, 21, 12, 0.8)!important; */
  border-radius: 5px ;
  
}

.colorls6{
fill:#F3B966 !important
}

.colorls10{
  fill:#E79536 !important
}

.default{
fill:#D6771F !important
}

.spiral{
  stroke: rgba(244, 244, 244, .4) !important;
  fill:none;
}

.spiral_text{
      text-anchor: start;
      font: 10px "avenir next";
      fill: grey ;
}