<div *ngIf="content; else notFound">
    <div class="interview-page">
        <div class="title">
            Interview about Literary Activities and Experiences in Canada During the COVID-19 Pandemic Period
        </div>
        <div class="metadata">
            <div class="organization">
                <span class="bold">Organization:</span>
                <span>Metatron Press</span>
            </div>
            <div class="date">
                <span class="bold">Date:</span>
                <span>7 February 2022</span>
            </div>
            <div class="interviewee">
                <span class="bold">Interviewee:</span>
                <span>Ashley, Executive Director, Quebec Writers Federation</span>
            </div>
            <div>Interview conducted with Jason Camlot by email</div>
        </div>

        <div class="question-list">
            <div class="question-container">
                <div class="question">
                    <span>1. Did you have to cancel any live events due to the pandemic
                        restrictions (beginning in March 2020)? &nbsp;Can you give an example?</span>
                </div>
                <div class="answer">
                    <p><span>We were not releasing books that Spring, so nothing was explicitly
                            canceled. We did, however, have to withhold from organizing book launches in the Fall of
                            2020.
                            The
                            fate of our
                            Spring launch this year remains uncertain. It&rsquo;s been destabilizing not knowing what to
                            plan
                            for
                            (in-person, digital).</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>2. questionDo you recall what happened when you decided to move
                        events
                        online?
                        &nbsp;How did this happen?&nbsp;What were you feeling? What solutions did you come up with?
                        &nbsp;What made you decide to move events online? How did the first event
                        go?</span>
                </div>
                <div class="answer">
                    <p><span>The first event we held online was unrelated to our publicity efforts. When
                            Diane Di Prima passed away, I felt immense grief and gratitude for the work Di Prima wrote
                            in
                            her
                            lifetime. I
                            decided to organize a marathon reading of her Revolutionary Letters online. I reached out to
                            the
                            many writers I
                            am connected to across the world and organized a complete reading of the text over Google
                            Hangouts
                            that featured
                            27 voices.</span></p>
                    <p><span>This reading was fueled by what I sensed was a public need to come
                            together, outside of the marketing and promotion realm of publishing, to celebrate an
                            incredible
                            woman and poet
                            who dared to dream of a new world. And it did feel very special, albeit it being online. To
                            connect
                            with one
                            another~ via technology~ to partake in creating something together in real-time through such
                            a
                            powerful
                            text&hellip; It was truly a special event.</span></p>
                    <p><span class="bold">Link to reading:&nbsp;</span><span style="color:black;"><a
                                href="https://www.youtube.com/watch?v=CcQvG912l-0"><span
                                    class="weblink">https://www.youtube.com/watch?v=CcQvG912l-0</span></a></span></p>
                    <p><span>~</span></p>
                    <p><span>What I will add, as well, is that I also function as a poet in the world.
                            The readings I have been invited to partake in throughout the pandemic made me feel
                            particularly
                            existential.
                            Online readings seem to lack the very things I cherish most about public expressions of
                            creative
                            work: haptic
                            feedback, socializing, and the sense that a group of people are literally holding physical
                            space
                            for
                            your
                            work.</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>3. How have your online events developed between March 2020 and
                        now?</span>
                </div>
                <div class="answer">
                    <p><span>I&rsquo;ve been hesitant to organize online events. Even though Metatron is
                            viewed as being a digi-savvy press, it just hasn&rsquo;t felt right to me. It lacks a depth
                            that
                            I
                            crave from
                            public readings.</span></p>
                    <p><span style="font-size:15px;">&nbsp;</span></p>
                    <p><span>While I do appreciate and see the value in online readings, the reason I
                            came to organizing events was purely real-world community. When I started organizing events
                            in
                            2012,
                            it&rsquo;s
                            because I sensed there was a need in Montreal for literary events that defied convention and
                            united
                            people,
                            making space for new voices to be featured. I wanted to see poets read in weird spaces, to
                            diverse
                            audiences.
                            And so it felt, in many ways, that literary events online were only drawing in specifically
                            literary
                            audiences&mdash;which is something I&rsquo;ve worked very hard to defy. I really want to
                            make
                            poetry
                            accessible
                            to all and expand who we interpret as being a poetry audience, and the online literary
                            reading
                            just
                            feels too
                            acutely literary for me, if that makes sense. It is too boxed in, literally and
                            figuratively.</span>
                    </p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>4. Can you share a story about an online reading or event that seemed
                        particularly important or powerful to you during this pandemic period? &nbsp;What made
                        it
                        special?</span>
                </div>
                <div class="answer">
                    <p><span>The Diane Di Prima reading was really quite spectacular. The sheer scale of
                            it, and the many technical issues that could have arisen did not, and it felt like some sort
                            of
                            digital miracle
                            that it all worked out the way it did.</span></p>
                    <p><span>Working with Anteism was also a great experience. We held a private reading
                            with only writers and producers present. We managed to feature 12 readers. And working with
                            Anteism
                            on
                            production was an amazing experience. I felt very supported by them, and think that the end
                            result
                            looks and
                            sounds great. I think, for me, there is a difference between people reading from their
                            laptop
                            cameras and
                            speakers, and then having access to higher-level production. For online events, I definitely
                            prefer
                            having a bit
                            of a budget to make it look and sound great, and give readers a space outside of their
                            intimate
                            homes to share
                            their work. I am very happy with how that series turned out, and hope to feature more
                            writers in
                            that capacity
                            again.</span></p>
                    <p><span class="bold">Link to
                            readings:&nbsp;</span><span style="color:black;">
                            <a href="https://youtu.be/PC-v7XQe4AU"><span
                                    class="weblink">https://youtu.be/PC-v7XQe4AU</span></a></span></p>
                    <p><span>My writing community here in Montreal often utilizes casual readings to
                            test out new writing and to even inspire the writing of new work. So, it felt particularly
                            potent
                            for me to be
                            able to organize something like that in the middle of the pandemic. I sensed a deeper sense
                            of
                            gratitude amongst
                            us all for the kind of power a live literary reading holds for individuals and communities.
                            Many
                            of
                            us had not
                            read in so long and were perhaps a bit out of practice, but the vulnerability and honesty of
                            that
                            reality was
                            incredibly moving and emotional. Many of us shared tears together in that space.</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>5. How would you describe the atmosphere and effect of the online
                        events you have organized? &nbsp;What role have they played in sharing the work of authors,
                        in
                        maintaining community, in creating new extended connections, in giving people respite in a
                        stressful
                        time, etc.?</span>
                </div>
                <div class="answer">
                    <p><span>Our online events have been less focused on marketing and publicity and
                            more on nurturing community and creating visibility around writers in the Montreal
                            community,
                            whether they are
                            Metatron authors or not. That is actually the function of Metatron readings~ Not necessarily
                            to
                            promote the work
                            we publish, but to support up-and-coming writers in the community. &nbsp;I am not quite sure
                            what effect our
                            events have had, though. That&rsquo;s the thing with digital readings: aside from the chat,
                            there is so little
                            feedback that happens after the event. I&rsquo;m not so sure they resonate as deeply as a
                            real-world event
                            might.</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span class="question">6. How do you feel the pandemic events have changed literary
                        activity
                        in your community or in a wider Canadian or global context?</span>
                </div>
                <div class="answer">
                    <p><span>I think it&rsquo;s forced people to adapt their work online, which I
                            don&rsquo;t think is negative, but I don&rsquo;t think this format is for everyone. It does,
                            however, give
                            people all over the world access to experiencing the work of local poets&mdash;which is
                            fantastic.</span></p>
                    <p><span style="font-size:15px;">&nbsp;</span></p>
                    <p><span>Writers and publishers were lucky in the sense that many artists were not
                            able to adapt their work so easily online. While online readings are imperfect and (in my
                            opinion) awkward, they
                            also shed light on the potential of technology to help writers and publishers reach new
                            audiences. While I
                            haven&rsquo;t quite seized this specific moment to do so, I do see the value in integrating
                            digital readings
                            with live readings in the future.</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>7. What impact do you think these events will have on the
                        future?</span>
                </div>
                <div class="answer">
                    <p><span>For me, I would love for all of our future in-person events to also be
                            available online. I love how much more inclusive online readings can be, not just for people
                            who
                            may live in
                            other parts of the world but also for accessibility reasons.</span></p>
                    <p><span style="font-size:15px;">&nbsp;</span></p>
                    <p><span>I think we will continue to see festivals and reading series shift their
                            efforts online, especially given that many of the available grants are favoring these
                            activities. Additionally,
                            it is cheaper to host events online, which is a benefit I believe publishers will take
                            advantage
                            of.</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>8. Have you kept a list of all of the events and activities you
                        have
                        organized during the pandemic period (so far), or do you have a link to that information
                        online
                        (<u>Note</u>: Is this the best place to get info about all the Metatron organized
                        events:
                        &nbsp;</span>
                    <span style="color:black;"><a href="https://www.metatron.press/events/"><strong><span
                                    class="weblink">https://www.metatron.press/events/</span></strong></a></span>
                </div>
                <div class="answer">
                    <p><span>Yes, that list is complete :)</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>9. How were your events or activities organized prior to pandemic
                        restrictions? &nbsp;Where did they take place? &nbsp;Can you give a brief
                        characterization
                        of the
                        events or scene that your events created?</span>
                </div>
                <div class="answer">
                    <p><span>It was 2012 when we organized our first reading, two years before we
                            launched our publishing program. We held it in a friend&apos;s rustic loft in the quaint
                            Mile Ex
                            neighborhood in
                            Montr&eacute;al. Since then we have organized over 50 readings in Canada and the United
                            States,
                            featuring more
                            than 300 writers. We have done readings online and outdoors in fields, in new and used book
                            stores and
                            historical buildings, art galleries and music venues, creative hubs and bars, greenhouses
                            and
                            many
                            off-the-beaten-path spaces. Our ethos around readings is to create unique and irreplaceable
                            literary events that
                            people will feel lucky they were present for.</span></p>
                    <p><span style="font-size:15px;">&nbsp;</span></p>
                    <p><span>Typically, Metatron events are all about atmosphere. I always go out of my
                            way to do special lighting design and put a lot of work into conceptualizing the spatial
                            design.
                            I aim for our
                            events to be experiences, readings that can&rsquo;t be reproduced. That is something
                            I&rsquo;m
                            not able to add
                            to online events, and it&rsquo;s why I look forward to it being safe enough to gather in
                            person
                            again!</span>
                    </p>
                    <p><span style="font-size:15px;">&nbsp;</span></p>
                    <p><span>With that said, Anteism was great to work with because they made our videos
                            unique by integrating live graphics, moving text and music.</span></p>
                </div>
            </div>
            <div class="question-container">
                <div class="question">
                    <span>10. Please feel free to add anything else, any other thoughts,
                        feelings,
                        information that the questions have not covered.</span>
                </div>
                <div class="answer">
                    <p><span>There was one event I organized in collaboration with the Blue Met Festival
                            that caused me to have a bit of panic attack. To be fair&mdash;my anxiety was at an all-time
                            high at this time.
                            We were filming footage with Anteism to edit together for an event based on translation. As
                            opposed to the first
                            Anteism reading&mdash;which was live&mdash;this was more of a production, in the sense that
                            we
                            were going to
                            then edit the footage together to create a cohesive video. I, all-of-a-sudden, felt like my
                            role
                            as a community
                            organizer had shifted to being some sort of television personality. I could see myself
                            talking
                            on the screen
                            right in front of me during my introductions, and it was distracting me from being present
                            with
                            the whole thing.
                            I had an extremely difficult time acting &lsquo;natural&rsquo; because I was exceptionally
                            worried about how I
                            looked, whether or not the camera was picking up the blemishes on my face. It made it
                            difficult
                            to be present.
                            And all the stop and go of filming interrupted the &ldquo;flow&rdquo; of the event in a way
                            that
                            wouldn&rsquo;t
                            have happened had it been live on stage. It was just so awkward, and all the writers seemed
                            so
                            uncomfortable,
                            and it really just felt wrong in so many ways.&nbsp;</span></p>
                    <p><span>That was, in my opinion, the worst event I have organized (although it did
                            turn out looking ok!), and I haven&rsquo;t organized an online event since.</span></p>
                    <p style='margin:0cm;font-size:16px;text-indent:36.0pt;'><span>Link to reading: <a
                                href="https://www.youtube.com/watch?v=abCDqIUIgWM&ab_channel=BlueMetBleu"><span
                                    class="weblink">
                                    https://www.youtube.com/watch?v=abCDqIUIgWM&amp;ab_channel=BlueMetBleu</span></a></span>
                    </p>
                    <p><span>I think that publishers and writers have unfortunately had to adapt to a
                            world they didn&rsquo;t intentionally consent to. While it is great that we have the tool of
                            online readings
                            available to us, I&rsquo;m not exactly sure many of us (readers included) are as inspired by
                            online events as
                            one would think.</span></p>
                    <p><span>~</span></p>
                    <p><span>One more thing, Metatron has utilized online readings in the past before
                            the pandemic. On three occasions we have broadcast digital readings to a live audience from
                            individuals featured
                            at the reading who were not physically present in Montreal. We projected the (live) readings
                            like a film would
                            be. I love digital readings for this reason, to amplify the experience of in-person
                            readings.</span></p>
                    <p><span>~</span></p>
                    <p><span>We held an in-person reading in an Outremont park in the summer of
                            2021.</span></p>
                </div>
            </div>
        </div>
        <div class="citation">
            <p><strong><span class="bold">How to Cite This Article:</span></strong></p>
            <p><span style="font-size:15px;">Ashley Opheim [Metatron Press],
                    &ldquo;Re: Questions
                    for article about online events during pandemic period,&rdquo; email to Jason Camlot,
                    February
                    7, 2022.</span>
        </div>
    </div>
</div>
<ng-template #notFound>
    <div class="interview-page not-found">
        Interview not found!
    </div>
</ng-template>